<% include _layouts/top %>

  <div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body"> 
  
              
<section id="help-about">
    <div class="page-header">
        <h1>Sobre a LowPrice</h1>
    </div>

    <p><strong>LowPrice</strong> é Uma aplicacao que se constitui como espaco
  de partilha , venda e discussao relativamente a anuncios dos seus utiliadores.
	</p>
  
    <p>           
		Para criar um anuncio tem que se registrar
	 </p>
    
</section>

<section id="help-students">

    <h2>Funcionalidades</h2>
    <p>Através da LowPrice <strong>os utilizadores</strong> conseguem ....</p>
    <ul class="unstyled">
      
         <li><strong>Possibilidade de publicar uma anuncio!</li>

         <li><strong>Possibilidade de votçao e comentar sobre os anuncios</li>
		 
		  <li><strong>Possibilidade de interaçao entre utilizadores, podendo ser discutidas os anuncios</li>
		  
		   <li><strong>registar­me como interessado num anuncio e receber notificações
sempre que esta tiver ativiade (alterada ou comentada)
 </li>
		   
 <h1>ISSO NAO ƒ O Q VAI FICAR , ƒ Sî PARA TER UMA PAGINA DE EXPLICACOES PARA ME AJUDAR A FAZER AS OUTRAS CENAS, METAM FOTOS E BLABLAB PARA FICAR BONITA A MALDITA DA PAGINA!!!!!</h1>
    </ul>
</section>
   
</div>
</div>
</div>
<% include _layouts/bottom %>
