
<% include _layouts/top %>

  <!-- Main component for a primary marketing message or call to action -->



<div class="row">
  <div class="col-xs-12 col-md-8">
    <h1>VENDE-SE CARRO</h1>
    <img src="http://olx-t.imgrap.com/ui/40/79/52/481487752_1x.jpg?x=1435043861" height="400" width="620" class="img-responsive" alt="Responsive image">
    <p>Primeiro registo: 01/1998</p>
    <p>   Quilómetros: 100.000 km</p>
    <p>  Potência: 85 CV (1.200 cm3)</p>
    <p>  Combustível: Gasolina</p>
    <p>  Cor: amarelo </p>
    <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">detalhes</a></p></div>
  <div class="col-xs-6 col-md-4">   <h3>Contact advertiser!</h3>
    <p><a class="btn btn-primary" href="#" role="button">send email</a></p>
    <span class="glyphicon glyphicon-phone" aria-hidden="true">  914509956</span></div>
</div>



<p> Insira um comentario : </p>
<textarea class="form-control" rows="3">Insira aqui...</textarea>
 <p>
      <a class="btn btn-lg btn-primary" role="button">concluido</a>
 </p>




  <!--
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

-->


<% include _layouts/bottom %>